@import url(../bower_components/normalize-css/normalize.css);
body {
  font-size: 1.5em;
  font-family: Helvetica;
  text-align: center;
  margin: 0 auto;
  position: relative; }
  body div {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 48%;
    height: 4em;
    text-align: center; }
    body div p {
      position: relative;
      margin: 0;
      padding: 0;
      top: 35%; }

#initialCount {
  font-size: 0.75em;
  width: 100%;
  height: auto;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  position: relative;
  text-align: left; }
  #initialCount input {
    width: 3em; }

#enterStore {
  background-color: lightgreen; }

#exitStore {
  background-color: lightpink; }

#enterLine {
  background-color: lightblue; }

#exitLine {
  background-color: plum; }

#abandonLine {
  width: 99%;
  background-color: silver; }

#addAssociate {
  background-color: gold; }

#removeAssociate {
  background-color: lightcoral; }

#numTimestamps, #numInLine, #numAssociates {
  width: 100%;
  font-size: 0.75em;
  height: 1.5em; }
  #numTimestamps p, #numInLine p, #numAssociates p {
    top: 10%; }

#save, #undo, #clearAll, #downloadData {
  background-color: red;
  color: white;
  font-size: 0.75em;
  height: 2em;
  width: auto;
  padding: 0 0.5em 0 0.5em;
  margin: 0.5em 0.5em 0.2em 0.5em; }
  #save p, #undo p, #clearAll p, #downloadData p {
    top: 25%; }

#undo {
  float: left; }

#clearAll {
  float: right; }

#save, #downloadData {
  background-color: green; }

#save {
  position: absolute;
  margin-top: 0;
  right: 0.5em;
  width: 5.5em; }
  #save p {
    top: 22.5%; }
