@import url(../bower_components/normalize-css/normalize.css);

body
{
	font-size: 1.5em;
	font-family: Helvetica;
	text-align: center;
	margin: 0 auto;
	position: relative;

	div
	{
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		width: 49%;
		height: 4em;
		text-align: center;

		p
		{
			position: relative;
			margin: 0;
			padding: 0;
			top: 40%;
		}
	}
}

#enterStore
{
	background-color: lightgreen;
}

#exitStore
{
	background-color: lightpink;
}

#enterLine
{
	background-color: lightblue;
}

#exitLine
{
	background-color: plum;
}

#abandonLine
{
	width: 99%;
	background-color: silver;
}

#addAssociate
{
	background-color: gold;
}

#removeAssociate
{
	background-color: lightcoral;
}

#numTimestamps, #numInLine, #numAssociates
{
	width: 100%;
	font-size: 0.75em;
	height: 1.5em;

	p
	{
		top: 10%;
	}
}

#undo, #clearAll
{
	background-color: red;
	color: white;
	font-size: 0.75em;
	height: 1.5em;
	width: auto;
	padding: 0 0.5em 0 0.5em;
	
	p
	{
		top: 10%;
	}
}